[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[functions.api]
  timeout = 26
  node_bundler = "esbuild"
  external_node_modules = ["@sparticuz/chromium-min", "playwright-core"]
